@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&display=swap);
html {
  font-family: "Noto Sans JP", "Inter", serif;
}

.c-header {
  padding: 15px 25px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 850px) {
  .c-header {
    display: block;
  }
}
.c-header_block {
  display: flex;
  width: 60%;
  justify-content: space-between;
}
@media screen and (max-width: 850px) {
  .c-header_block {
    width: 100%;
    margin-top: 20px;
  }
}
.c-header_logo {
  width: 370px;
}
.c-header_logo img {
  width: 100%;
}
.c-header_input {
  max-width: 500px;
  width: 100%;
}
.c-header_input input {
  width: 100%;
  padding: 10px;
  font-size: 24px;
  background-color: #fff;
  border-radius: 5px;
}
.c-header_link {
  color: #fff;
  font-size: 24px;
  margin-right: 9px;
}
.c-header_links {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.c-header_btn {
  background-color: #fff;
  font-size: 24px;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
}

.c-form_group:not(:first-child) {
  margin-top: 38px;
}
.c-form_group.--image {
  display: flex;
  align-items: center;
}
.c-form_group_title {
  font-size: 24px;
  font-weight: 700;
}
.c-form_label {
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}
.c-form_checkbox {
  font-size: 15px;
  line-height: 18px;
  padding: 5px 15px;
  border: 2px solid #ff5655;
  color: #ff5655;
  border-radius: 200px;
  display: inline-block;
  margin: 0 19px 36px 0;
}
.c-form_checkboxes {
  margin-top: 31px;
}
.c-form_checkbox:has(:checked) {
  background-color: #ff5655;
  color: #fff;
}
.c-form_input {
  width: 100%;
  padding: 10px;
  border: 1px solid #5f5f5f;
  border-radius: 5px;
  margin-top: 5px;
}
.c-form_input.--price {
  background: url("../img/mark-en.png") no-repeat left 10px center;
  padding-left: 30px;
}
.c-form_select {
  width: 100%;
  padding: 10px;
  border: 1px solid #5f5f5f;
  border-radius: 5px;
}
.c-form_select-wrap {
  margin-top: 15px;
  position: relative;
}
.c-form_select-wrap::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-top: 12px solid #555;
  border-bottom: 0;
}
.c-form_buttons {
  margin-top: 116px;
}
.c-form_buttons_link {
  display: block;
  margin-top: 36px;
  text-align: center;
}
.c-form_buttons.--profile {
  margin-top: 67px;
}
.c-form_input-img {
  display: inline-block;
  border: 2px solid #ff5555;
  color: #ff5555;
  text-align: center;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  margin-left: 40px;
}
.c-form_input-img .c-form_input-img:hover {
  cursor: pointer;
}
.c-form_input-img input[type=file] {
  display: none;
}
.c-form_input-img.--product {
  margin-left: 0;
}
.c-form_inputed-img img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
.c-form_product-img {
  margin-top: 5px;
  padding: 200px;
  width: 100%;
  border: dotted 1px #5f5f5f;
  text-align: center;
  border-radius: 4px;
}
.c-form_block {
  margin-top: 60px;
}
.c-form_block_title {
  font-size: 30px;
  font-weight: 700;
  color: #5f5f5f;
  padding-bottom: 12px;
  border-bottom: 1px solid #5f5f5f;
}
.c-form_error {
  color: #ff0000;
  font-size: 16px;
  margin-top: 5px;
}

.c-button {
  font-size: 26px;
  line-height: 31px;
  font-weight: 700;
  color: #fff;
  padding: 15px;
  background-color: #ff5555;
  border-radius: 5px;
  text-align: center;
  display: block;
  width: 100%;
}
.c-button.--chatSide {
  font-size: 26px;
  padding: 5px 5px;
  line-height: 100%;
  display: block;
  text-align: center;
  background-color: #eeefeb;
  font-weight: 400;
  color: #000;
}
.c-button.--review {
  background-color: #ff8282;
  width: auto;
  margin-left: auto;
}

.c-link {
  color: #0073cc;
  font-size: 20px;
}

.l-container {
  max-width: 680px;
  margin: auto;
  width: 90%;
}
.l-container.--item-detail {
  max-width: 1380px;
}
.l-container.--purchase {
  max-width: 1380px;
}

.c-product_link {
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
}
.c-product_link:not(:first-child) {
  margin-left: 100px;
}
.c-product_link.--active {
  color: #ff0000;
}
.c-product_links {
  display: flex;
  margin-top: 47px;
  border-bottom: 2px solid #5f5f5f;
  padding: 15px 129px;
}
@media screen and (max-width: 850px) {
  .c-product_links {
    display: block;
    padding: 15px 39px;
  }
}
.c-product_link_notify {
  font-size: 24px;
  color: #fff;
  background-color: #ff0000;
  padding: 3px 8px;
  display: inline-block;
  margin-left: 5px;
  border-radius: 10px;
  line-height: 100%;
}
.c-product_list {
  width: 21%;
  margin-bottom: 76px;
}
.c-product_list:not(:nth-child(4n+1)) {
  margin-left: 5.3333333333%;
}
.c-product_lists {
  display: flex;
  flex-wrap: wrap;
  max-width: 1374px;
  width: 90%;
  margin: 76px auto auto;
}
.c-product_list_img {
  width: 100%;
  position: relative;
}
.c-product_list_img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}
.c-product_list_img_notify {
  position: absolute;
  top: 3px;
  left: 4px;
  color: #fff;
  background-color: #ff0000;
  width: 20px;
  height: 20px;
  font-size: 10px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
}
.c-product_list_img_sold {
  font-weight: bold;
  font-size: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: rgb(202, 0, 0);
  margin: auto;
  background-color: rgba(0, 0, 0, 0.1843137255);
}

.c-stripe {
  text-align: center;
  margin-top: 200px;
}

.js-modalMain {
  display: none;
}
.js-modalMain.is-active {
  display: block;
}
